
diskCacheRoot=/var/cache/polipo/
proxyAddress=127.0.0.1
proxyName=localhost
proxyPort=8118
serverSlots=4
serverMaxSlots=32
cacheIsShared=true
maxPipelineTrain = 32

cacheIsShared = false
censoredHeaders = from,accept-language,x-pad,link
censorReferer = maybe
chunkHighMark = 50000000
disableVia=true

maxConnectionAge = 300s
maxConnectionRequests = 30000
socksParentProxy=localhost:9050
